.casas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caja{
    margin-top: 1%;
}
.menu{
    margin-top: 3%;
}


.info-casa{
    margin-top: 2%;
}
.casa{
    max-width: 50%;
    max-height: 50%;
}

