* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.casas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    margin-top: 4vh;
}
.complejo {
    width: 95%;
    display: fleix;
    justify-content: center;
}
.slogan{
    margin-top: 2%;
}
.caja{
    margin-top: 1%;
}
.menu{
    margin-top: 3%;
}
ul li {
    list-style-type: none;
}
a:hover{
    font-size: 2.5vh;
    font-weight: bold;
}
footer{
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1%;
    padding-bottom: 2%;
}
.redes{
    padding-top: 1%;
    padding-bottom: 1,5%;
}
.info-casa{
    margin-top: 2%;
}
.casa{
    max-width: 50%;
    max-height: 50%;
}
.contacto{
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.mujer{
    margin-top: 2vh;
}
.hombre{
    margin-top: 2vh;
}
.boton:hover{
    background-color: lightblue;
    font-size: 2.5vh;
    font-weight: bold;
}
div .msj{
    margin-top: 1vh;
}